html,body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(51, 51, 51);
  line-height: 1.75;
  max-width: 800px;
  margin: auto;
  padding: 0 0.5em;
  scroll: none;
}

img, iframe {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.16), 0 0 10px rgba(0,0,0,0.23);
  border-radius: 0.25rem;
  overflow: hidden;
}

iframe[title^='Sponsor'] {
  box-shadow: none;
}

h1 {
  margin: 0.5rem 0;
}

h2 {
  margin-bottom: 0;
}

blockquote { 
  border-left: 2px solid #bdc3c7;
  margin-left: 1rem;
  padding-left: 1rem;
}

footer { padding-bottom: 1rem; }

a {
  color: #3498db;
  word-break: break-word;
}

a:visited {
  color: #2980b9;
}

.menu {
  margin-top: 1rem;
  padding: 0;
}

.menu li {
  display: block;
  margin: 1rem 0.25rem;
  text-align: right;
  background: #ecf0f1;
  border-radius: 0.25rem;
  border: 2px solid transparent;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li.active {
  border: 2px solid #3498db;
  background-color: transparent;
}

.menu a {
  text-decoration: none;
  padding: 0 0.5rem;
  display: block;

}

.article-meta {
  text-align: center;
}

.title {
  font-size: 1.1em;
}

hr {
  border-style: solid;
  color: #bdc3c7;
  margin: 0.5rem auto;
}

ol, ul {
  margin-top: 0;
}

li p { margin-bottom: 0; }

main h3 + ol > li,
main h3 + ul > li {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

main h3 + ol li > ul li,
main h3 + ol li > ol li {
  font-weight: normal;
}

ol li:first-of-type p { margin-top: 0; }

.report {
  text-decoration: none;
  background-color: #ff7979;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.16), 0 0 10px rgba(0,0,0,0.23);
  margin: 0.5rem 0 0 auto;
  display: block;
  width: fit-content;
  z-index: 9999999999;
  position: relative;
}

a.edit-page {
  text-decoration: none;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.16), 0 0 10px rgba(0,0,0,0.23);
  display: inline-block;
  color: white;
  padding: 0.25rem;
  margin-left: 0.5rem;
  position: relative;
  background-color: #badc58;
}

.report.footer { display: inline-block; margin-left: 1rem;}

.report > a {
  color: white;
  text-decoration: none;
  padding: 0.25rem;
  display: inline-block;
}

table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  max-width: 100%;
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
}

table td,
table th {
  font-size: inherit;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  padding: 0.5em 1em; /* cell padding */
  width: 7.5rem;
}

table td:not(:first-of-type),
table th:not(:first-of-type) {
  border-left: 1px solid #cbcbcb;/*  inner column border */
}

table thead {
    background-color: #f6e58d;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

table td {
    background-color: transparent;
}
table td {
    background-color: rgba(0, 0, 0, 0.05);
}

tbody tr:not(first-child) {
  border-top: 1px solid #cbcbcb;
}

tr td:first-child {
  font-weight: 700;
}

/* nth-child selector for modern browsers */
table tr:nth-child(2n-1) td {
    background-color: rgba(0, 0, 0, 0.1);
}

a[href*="coffee"] { color: #FF813F; }

input[type=checkbox].toggle {
  width: 75px;
  height: 34px;
  z-index: 99999999;
}

input[type=checkbox].toggle,
.hamburger {
    position: absolute;
    right: 0.5rem;
    top: 0.8rem;
    margin: 0;
}

.hamburger {
    z-index: 9999999;
    box-shadow: 0 0px 15px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
}

.hamburger p {
  margin: 0 0 0 0.25rem;
  line-height: 1;
  font-weight: 500;
}

.hamburger span {
    height: 2px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    margin-bottom: 2px;
    display: block;
    transition: all 500ms;
    width: 10px;
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.toggle {
    z-index: 9999999;
    opacity: 0;
}

.toggle:hover {
    cursor: pointer;
}

.toggle ~ .nav-wrapper {
    transform: translateX(150%);
}

.toggle:checked ~ .nav-wrapper {
    transform: translateX(0);
}

.toggle:checked ~ .hamburger span {
    transition: all 300ms;
}

.toggle:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(5px) rotateZ(45deg);
}

.toggle:checked ~ .hamburger span:nth-child(2) {
    transform: translateX(50%);
    opacity: 0;
}

.toggle:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-3px) rotateZ(-45deg)
}

nav { display: flex; justify-content: space-between;}

.nav-wrapper {
  width: 100vw;
  position: absolute;
  left: 0;
  height: calc(100vh - 3.6rem);
  top: 3.6rem;
  transition: all 300ms;
  padding: 0.5rem;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: left;
  background-color: white;
  z-index: 999999;
}

nav.mobile ul li {
  display: block;
  text-align: right;
  margin: 0.75rem 1rem;
}

.bmc-button img {
  width: 35px !important;
}

.bmc-button {
  line-height: 35px !important;
  height: 51px !important;
  max-width: 217px !important;
  display: flex !important;
  color: #FFFFFF !important;
  background-color: #FF813F !important;
  border-radius: 5px !important;
  padding: 7px 10px 7px 10px !important;
  box-sizing: border-box !important;
  margin-auto;
}
.bmc-button span { margin-left: 1rem; }

.breadcrumb { 
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
  background-color: #ecf0f1;
border-radius: 0.25rem;
padding: 0 0.5rem;
}

.breadcrumb li { margin-bottom: 0; padding-right: 0.25rem; }

.breadcrumb li:not(:first-of-type) {
  margin: 0;
}

.desktop { display: none; }


@media (min-width: 768px) {
  nav h2 { margin-top: 1rem; }
  .toggle ~ .nav-wrapper {
    transform: none;
  }

  .desktop { display: block; }

  .menu li { display: inline-block; margin: 0 0.25rem; }

  .nav-wrapper {
    position: relative;
    transform: translateX(0);
    /*height: auto;*/
    top: 0;
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*height: calc(100vh - 7rem);*/
    height: auto;
  }
  .mobile {
    display: none;
  }
}