<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <style>{{ readFile "/themes/hugo-spartan/static/css/style.css" | safeCSS }}</style>
    <link rel="icon" href="favicon.png">
  </head>

  <body>
    <div class="report desktop">
      <a target="_blank" title="Report a Problem" href='https://github.com/finnito/Science/issues/new?body=1.%20Give%20your%20issue%20a%20descriptive%20title%0A2.%20Describe%20your%20bug%2Fsuggestion%2Fmissing%20content%20in%20detail%20here%0A3.%20Add%20the%20device%20you%20are%20reporting%20it%20on%0A4.%20Don%27t%20forget%20to%20remove%20this%20list%21%20%F0%9F%91%8D%0A%0A%2A%2ADevice%3A%2A%2A%0A%2A%2AURL%3A%2A%2A%20[{{.Permalink}}]({{.Permalink}})&assignees=finnito&projects=finnito/science/1&labels=Website%20Report'>🙋 Feedback about this page?</a>
    </div>
    <nav>
      <h1>{{ .Site.Title }}</h1>
      <input class="toggle mobile" type="checkbox"/>
      <div class="hamburger mobile">
          <div>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <p>Classes</p>
      </div>
      <div class="nav-wrapper">
        <div>
          <ul class="menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class='{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}'>
              <a href="{{ .URL | relURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
            <span class="report mobile">
              <a target="_blank" title="Report a Problem" href='https://github.com/finnito/Science/issues/new?body=1.%20Give%20your%20issue%20a%20descriptive%20title%0A2.%20Describe%20your%20bug%2Fsuggestion%2Fmissing%20content%20in%20detail%20here%0A3.%20Add%20the%20device%20you%20are%20reporting%20it%20on%0A4.%20Don%27t%20forget%20to%20remove%20this%20list%21%20%F0%9F%91%8D%0A%0A%2A%2ADevice%3A%2A%2A%0A%2A%2AURL%3A%2A%2A%20[{{.Permalink}}]({{.Permalink}})&assignees=finnito&projects=finnito/science/1&labels=Website%20Report'>🙋 Feedback about this page?</a>
            </span>
          </ul>
        </div>
      </div>
    </nav>
    <ol class="breadcrumb">
      {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
    </ol>
    {{ define "breadcrumbnav" }}
    {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
    {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
    {{ end }}
    <li{{ if eq .p1 .p2 }} class="active"{{ end }}>
      {{ if not .p1.IsHome }} < {{ end }}
      {{ if ne .p1 .p2 }}<a title="{{ .p1.Title }}" href="{{ .p1.Permalink }}"> {{ end }}
      {{ .p1.Title }}
      {{ if ne .p1 .p2 }}</a>{{ end }}
    </li>
    {{ end }}
