<blockquote>
    <p>This website is free for you to use and is a bit of a labour of love, so please consider supporting me through the link below if you find these resources of use.</p>
    <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/FinnLeSueur">
      <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a Coffee">
      <span>Buy me a coffee</span>
    </a>
</blockquote>